.home {
  display: flex;
  align-items: flex-start;
  overflow-x: hidden;

  .home_container {
    flex: 1;
    margin-left: 250px; 
    padding-bottom: 3rem;

    .content {
      padding: 5rem 0 1rem 0;

      .search-bar {
        display: flex;
        justify-content: center;
        margin-bottom: 20px;
        

        select {
          width: 50%;
          padding: 10px;
          font-size: 16px;
          border: 1px solid #ccc;
          border-radius: 4px;
          transition: width 0.3s ease;

          @media (max-width: 1200px) {
            width: 70%;
          }

          @media (max-width: 768px) {
            width: 90%;
          }

          @media (max-width: 480px) {
            width: 100%;
          }
        }
      }
    }
  }

  .jobs_application {
    margin-top: 30px;
    text-align: center;

    .application_title {
      font-family: 'Arial', sans-serif;
      font-size: 24px;
      font-weight: bold;
      color: #333;
      margin-bottom: 20px;

      @media (max-width: 768px) {
        font-size: 20px;
      }
    }

    .application_steps {
      list-style: none;
      padding-left: 0;
      counter-reset: step;

      @media (max-width: 768px) {
        display: flex;
        flex-direction: column;
        align-items: center;

        .step {
          text-align: center;
        }
      }
    }

    .step {
      font-family: 'Arial', sans-serif;
      font-size: 16px;
      color: #555;
      margin-bottom: 10px;

      .step_number {
        font-weight: bold;
        margin-right: 5px;
        color: #007bff;
      }

      @media (max-width: 768px) {
        font-size: 14px;
      }
    }
  }

  .footer {
    background-color: #f8f9fa;
    padding: 20px;
    text-align: center;
    font-family: 'Arial', sans-serif;
    color: #555;
    font-size: 14px;
    position: fixed;
    bottom: 0;
    width: 100%;

    p {
      margin: 0;
    }

    display: flex;
    justify-content: center;
    align-items: center;

    @media (max-width: 768px) {
      font-size: 12px;
      padding: 10px;
      bottom: 90px;

      &.above-sidebar {
        bottom: unset;
        top: 0;
      }
    }
  }

  @media (max-width: 1200px) {
    .home_container {
      margin-left: 200px; // Adjust for smaller screens
    }
  }

  @media (max-width: 768px) {
    flex-direction: column;
    align-items: stretch;

    .home_container {
      margin-left: 0;
      padding: 0;

      .content {
        padding: 2rem 0 1rem 0;
      }
    }

    .sidebar {
      width: 100%;
      height: auto;
      position: static;
    }

    .footer {
      position: static;
      bottom: unset;
      width: 100%;
    }
  }
}

.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 250px;
  height: 100%;
  background-color: var(--primary-dark);
  z-index: 1000;

  @media (max-width: 768px) {
    width: 100%;
    height: auto;
    position: static;
  }

  .province-select {
    margin-top: 10px;
    
    select {
      padding: 8px;
      font-size: 16px;
      border: 1px solid #ccc;
      border-radius: 4px;
      width: 200px;
    }
    
    .searching-indicator {
      margin-top: 5px;
      font-size: 14px;
      color: #888;
    }
  }
}
