.home {
  display: flex;
  align-items: flex-start;
  overflow-x: hidden;

  .jobs_application {
    margin-top: 30px;
    text-align: center;

    .application_title {
      font-family: 'Arial', sans-serif;
      font-size: 24px;
      font-weight: bold;
      color: #333;
      margin-bottom: 20px;
    }

    .application_steps {
      list-style: none;
      padding-left: 0;
      counter-reset: step;

      @media only screen and (max-width: 768px) {
        // Adjust for smaller screens
        display: flex;
        flex-direction: column;
        align-items: center;

        .step {
          text-align: center;
        }
      }
    }

    .step {
      font-family: 'Arial', sans-serif;
      font-size: 16px;
      color: #555;
      margin-bottom: 10px;

      .step_number {
        font-weight: bold;
        margin-right: 5px;
        color: #007bff;
      }
    }
  }

  .home_container {
    flex: 6;
    padding-bottom: 3rem;

    .content {
      padding: 5rem 0 1rem 0;

      .games_slider  {
        width: 100%;
        margin: 0 auto;
        padding: 0.6rem 3rem;
        display: flex;
        align-items: center;

                @media screen and (max-width: 1500px) {
          padding: 0.6rem 2rem;
        }
        @media screen and (max-width: 900px) {
          padding: 0.6rem 10px;
        }

        @media screen and (max-width: 1000px) {
          padding: 0.6rem 2rem;
        }
        @media screen and (max-width: 700px) {
          padding: 0.6rem 10px;
        }

        .div {
          width: 1500px;
        //   @media screen and (max-width: 1000px) {
         //    width: 900px;
        //   }
        //   @media screen and (max-width: 700px) {
        //     width: 600px;
       //    }
        }
        .game_box {
          padding: 0 1rem;
          @media screen and (max-width: 900px) {
            padding: 0 0.5rem;
          }

          padding: 0 1rem;
          @media screen and (max-width: 1000px) {
            padding: 0 0.5rem;
          }
          
          img {
            border-radius: 10px;
            width: 20rem;
            height: 15rem;

                        @media screen and (max-width: 900px) {
              width: 100%;
              height: 15rem;
            }

            @media screen and (max-width: 700px) {
              width: 100%;
              height: 15rem;
            }
          }

          .title {
            font-size: 1.5rem;
            margin: 10px 0;
            font-weight: bold;
          }

          // .form_btn {
          //   width: 50%;
          // }
        }
      }
    }

    .aviator_slider  {
      width: 100%;
      margin: 0 auto;
      padding: 0.6rem 3rem;
      display: flex;
      align-items: center;

              @media screen and (max-width: 1500px) {
        padding: 0.6rem 2rem;
      }
      @media screen and (max-width: 900px) {
        padding: 0.6rem 10px;
      }

      @media screen and (max-width: 1000px) {
        padding: 0.6rem 2rem;
      }
      @media screen and (max-width: 700px) {
        padding: 0.6rem 10px;
      }

      .div {
        width: 1500px;
      
      }
    .aviator_image {
      position: relative;
      display: inline-block;
      padding: 0 1rem;
  
      @media screen and (max-width: 900px) {
        padding: 0 0.5rem;
      }
  
      @media screen and (max-width: 700px) {
        padding: 0 0.5rem;
      }
  
      @media screen and (max-width: 1000px) {
        padding: 0 0.5rem;
      }
  
      img {
          border-radius: 10px;
          width: 20rem;
          height: 15rem;
      }
  
      @media screen and (max-width: 900px) {
        img {
          width: 100%;
          height: 15rem;
        }
      }
  
      @media screen and (max-width: 600px) {
        img {
          width: 100%;
          height: 15rem;
        }
      }
  
      @media screen and (max-width: 700px) {
        img {
          width: 100%;
          height: 15rem;
        }
      }
  
      @media screen and (max-width: 800px) {
        img {
          width: 100%;
          height: 15rem;
        }
      }
  }
  
  .play_button {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 100px;
      height: 50px;
      background-color: rgb(165, 86, 185);
      border-radius: 5px;
      cursor: pointer;
      display: flex;
      justify-content: center;
      align-items: center;
  }
  
  .play_button_text {
      color: white;
      font-size: 16px;
  }
}
}
.footer {
  background-color: #f8f9fa;
  padding: 20px;
  text-align: center;
  font-family: 'Arial', sans-serif;
  color: #555;
  font-size: 14px;
  position: fixed;
  bottom: 0;
  width: 100%;

  p {
    margin: 0;
  }

  display: flex;
  justify-content: center;
  align-items: center;

  @media only screen and (max-width: 768px) {
    font-size: 12px; 
    padding: 10px; 
    bottom: 90px;

    &.above-sidebar {
      bottom: unset;
      top: 0;
    }
  }
}



}

